.wrapper
  .side_bar
    .side_bar__user-name
      .top-items
        .top-items__name
          %p test
        .top-items__icon
          = link_to "#", class: "contents__btn" do
            %i.far.fa-edit
          = link_to "#", class: "contents__btn" do
            %i.fas.fa-cog
    .side_bar__group-list
      .group
        .group-name
          %p test
        .latest-message
          %p nomessage
      .group
        .group-name
          %p test
        .latest-message
          %p nomessage
      .group
        .group-name
          %p test
        .latest-message
          %p nomessage