.main_chat {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;  
    .header-leftbox {
      margin-top: 35px;
      .current-group {
        color: #333333;
        height: 20px;
        margin-bottom: 15px;
        font-size: 20px;
      }
      .member-list {
        color :#999999;
        height: 12px;
        font-size: 12px;
      }
    }
    .group__info__edit-btn {
      color: #38aef0;
      height: 40px;
      padding :0 20px; 
      line-height: 40px;
      margin-top: 28px;
      border :1px solid;
      .contents__btn  {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    .message {
      padding-bottom: 46px;
      .upper-info {
        display: flex;
        margin-bottom: 12px;
        &__talker {
          color: #333333;
          font-size: 16px;
          margin-right: 10px;
          font-weight: bolder;
        }
        &__date {
          color: #999999;
          font-size: 12px;
        }
      }
        .text__content {
          color: #434a54;
          font-size: 14px;
        }
    }
  } 
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    .form {
      height: 50px;
      width: 100%;

      .input-box {
        position: relative;
        display: flex;
        width: 100%;
      }
        .form__message {
          height: 50px;
          width: 100%;
  
        }
        .form__mask {
              position: absolute;
              top: 10px;
              right: 40px;
        }
          .form__mask__image {
            font-size: 1.3rem;
            position: absolute;
            cursor: pointer;
          }
            .hidden {
              display: none;
            }

          .form__submit {
            width: 100px; 
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            color: white;
            cursor: pointer;
          }
    }
  }
}
